body, html {
    margin: 0;
    padding: 0px;
}
table, th, td {
    border: 1px solid  aqua;
    border-collapse: collapse;
    padding: 5px 10px;
}

header{
    background-color: aqua;
    color: black;
    padding: 0.5px 10px;
}
table{
    margin-top: 50px;
    margin-bottom:20px ;
}
.img{
    width: 400px;
    height: 250px;

}
